.perSide {
  width: 50%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin: 0;
  background-color: #292929;
  border: 1px solid #525252;
  backdrop-filter: blur(200px);
}
.perTitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}
.doHide {
  display: none;
}

@media only screen and (max-width: 576px) {
  .perSide {
    width: 100%;
  }
}
