.ql-toolbar.ql-snow {
  background-color: white !important;
}

/* Toolbar background white */
.ql-toolbar.ql-snow {
  background-color: white !important;
}

/* Editor text color white */
.ql-editor {
  color: white;
}
