.prose :where(*):not(ul):not(ol) {
  color: white !important;
}

.prose ul,
.prose ol {
  background-color: #292929 !important;
}

/* ✅ Add this */
.prose ul li::marker,
.prose ol li::marker {
  color: white !important; /* makes bullets & numbers white */
}

/* list abar on */
.prose ul {
  list-style: disc;
  padding-left: 1.5rem;
}
.prose ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
