@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  /* --background: oklch(1 0 0); */
  --background: #1f1f1f;
  /* --foreground: oklch(0.145 0 0); */
  --foreground: oklch(0.985 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/********************************************My Css****************************************/

/**********************************************/
/*************************************************************************************/
/*****************************************My Css**************************************/
/**********************************************/
.xxx {
  background-color: yellow !important;
}
.yyy {
  background-color: green !important;
}
img {
  filter: grayscale(1);
  transition: 0.3s;
}
img:hover {
  filter: grayscale(0);
}
.grayScale {
  filter: grayscale(1);
  transition: 0.3s;
}
.grayScale:hover {
  filter: grayscale(0);
}
.primaryBox {
  background-color: #292929;
  border: 1px solid #525252;
  backdrop-filter: blur(200px);
  transition: all 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  transform: translateY(0);
}
.primaryBox:hover {
  transform: translateY(-5px);
}

.primaryButton {
  background-color: #141414;
  border: 1px solid #525252;
  transition: all 0.3s ease; /* You can adjust the duration and timing */
  color: white;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.primaryButton:hover {
  background-color: #1d1b1b;
  border-color: #ffffff;
}
.pageTitle {
  font-size: 32px;
  color: #e5e5e5;
  font-weight: 700;
}
.pageTitle {
  color: white;
}

.topicTitle {
  font-size: 28px;
  color: white;
  font-weight: 700;
}
.dag {
  height: 0px;
  border: 2px solid #474747;
  border-top: 0;
  /* background-color: white; */
}

.pageMargin {
  margin: 112px;
}
.pagePadding {
  padding: 112px;
}

@media screen and (max-width: 576px) {
  .pageMargin {
    margin: 20px;
  }
  .pagePadding {
    padding: 20px;
  }
}

/* Font Style Start */
.pTitle {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #e5e5e5;
  transition: color 0.3s ease;
  cursor: pointer;
}
.pTitle:hover {
  color: white;
}
.pDesc {
  font-size: 16px;
  line-height: 1.8;
  color: #9ca3af;
}

/* For Laptop */
@media screen and (max-width: 1536px) {
  .pTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .pTitle {
    font-size: 24px;
  }
}
/* Font Style End */

/*************************Width***************************/
/* Desktop */
.pPadding {
  padding: 80px 120px;
}
.qPadding {
  padding: 0px 120px;
}

/*Laptop */
@media screen and (max-width: 1536px) {
  .pPadding {
    padding: 80px 80px;
  }
}
/*Mobile */
@media screen and (max-width: 576px) {
  .pPadding {
    padding: 20px;
  }
}
