/* For Laptop */
@media screen and (max-width: 1536px) {
  .pTitle {
    font-size: 30px;
  }

  .pPadding {
    padding: 80px 80px;
  }
  .detailPageWidth {
    max-width: 1024px;
  }
}

/*For Mobile */
@media screen and (max-width: 576px) {
  .pTitle {
    font-size: 24px;
  }

  .pPadding {
    padding: 20px;
  }
}
