.snd {
  margin-top: 16px;
  margin-bottom: 40px;
}
/* For Laptop */
@media screen and (max-width: 1536px) {
  .sarkarTitle {
    margin-top: -20px;
  }
  .snd {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .snd {
    margin-top: 16;
    margin-bottom: 40px;
  }
}
